#posts {
    display: flex;
    width: 1140px;
    margin: 40px auto;

    .left {
        flex: 1;
        background: tomato;
        padding: 0 10px;
    }

    .right {
        flex: 0 320px;
        // background: pink;
        padding: 0 10px;
    }
}

@media all and (max-width: 768px) {
    #posts {
        flex-direction: column;
        width: 100%;

        .left {
            order: 1;
            flex: 100%;
            padding: 0;
        }
        .right {
            order: 2;
            flex: 100%;
            padding: 0;

            .sidebar {
                margin: 0;
            }
        }
    }
}

.sidebar {
    margin: 0 15px;
}

.card {
    padding: 0 15px;
    margin-bottom: 30px;
    color: #333;
    font-size: 14px;
    box-shadow: 0 0 0 transparent;
}

.card-header {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    h2 {
        margin: 0;
        font-size: 18px;
    }
}

.card-tomato {
    color: #fff;
    background-color: tomato;
}

.card-gray {
    color: #fff;
    background-color: #525252;
}

.card-content {
    padding: 20px 0;
    ul {
        padding: 0 0 0 20px;
        margin: 0;

        li {
            margin-bottom: 5px;
        }
    }
}
